body {
	margin-top: 20px;
}
	
div.padded {
	margin: 20px 0;
}

img.topbar-icon {
	height: 16px;
	width: 16px;
}

#masthead h1,
#masthead p {
	text-align: left;
	margin-left: 10px;
}

img.masthead-icon {
	height: 100px;
	width: 100px;
	margin-right: 20px;
	margin-left: 45px;
	float: left;
}

section {
}

#footer {
	background-color: #222;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
	background-image: -moz-linear-gradient(#333333, #222222);
	background-image: -ms-linear-gradient(#333333, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
	background-image: -webkit-linear-gradient(#333333, #222222);
	background-image: -o-linear-gradient(#333333, #222222);
	background-image: linear-gradient(#333333, #222222);
}