<% content_for :masthead do %>
<!--<div id="masthead">
      <div class="inner">
        <div class="container">
			<%= image_tag "icon.png", :alt => "Logo icon", :class => "masthead-icon" %>
          <h1>Skellington app says "Boo!"</h1>
          <p class="lead">
            A stable[ish] starting point to prototype facebook &amp; twitter apps using Rails 3.
          </p>
          <p>The readme &amp; code is on the <%= link_to "github repo", "https://github.com/danieljohnmorris/skel" %>. Also, <%= link_to "say hi on twitter", "http://twitter.com/danielmorris" %> if you have comments or questions.</p>
        </div>
      </div>
</div>-->
<% end %>

<% 
title "Welcome to your new app"
content_for :subtitle do "Let's get started" end
%>

<div class="row">
	<div class="span8 columns">

		<p>Cardigan wes anderson skateboard cliche gluten-free chambray whatever terry richardson. Lo-fi pitchfork quinoa, thundercats tattooed organic artisan bicycle rights next level skateboard helvetica gluten-free DIY.</p>
		
		<p>Echo park butcher cosby sweater blog organic williamsburg Austin sartorial beard wolf. Sustainable quinoa tattooed put a bird on it skateboard irony chambray american apparel fixie organic. Skateboard wayfarers marfa viral, beard messenger bag seitan VHS yr. </p>
		<p>Synth butcher fixie, single-origin coffee brunch food truck master cleanse thundercats letterpress whatever american apparel terry richardson seitan gentrify gluten-free. Scenester stumptown biodiesel fap high life. Etsy raw denim carles synth, vinyl mixtape you probably haven't heard of them salvia leggings. Craft beer biodiesel DIY Austin, artisan shoreditch fixie squid salvia fanny pack mustache quinoa.</p>

	</div>
	<div class="span8 columns">

		<p>Messenger bag locavore food truck mustache high life VHS butcher, banh mi vinyl. Etsy thundercats brunch seitan butcher jean shorts, twee before they sold out williamsburg. Williamsburg high life keffiyeh banh mi, marfa echo park whatever sustainable wolf mustache salvia. Terry richardson mixtape fanny pack gentrify iphone leggings fixie locavore, shoreditch messenger bag hoodie. Photo booth lomo stumptown banksy. </p>

		<p><a href="http://hipsteripsum.me/">I want Hipster Ipsum too.</a></p>

	</div>
</div>