<div class="clearfix">
	<%= f.label :email %>
	<div class="input">
		<%= f.text_field :email, :class => "xLarge" %>
	</div>
</div>

<div class="clearfix">
	<%= f.label :password %>
	<div class="input">
		<%= f.password_field :password, :class => "xLarge" %>
	</div>
</div>