<% 
title "About this app"
content_for :subtitle do "Learn more, be amazed" end
%>

<p>Gluten-free photo booth cliche lo-fi, carles messenger bag ethical terry richardson jean shorts 8-bit trust fund cosby sweater biodiesel. Etsy wayfarers beard, art party DIY butcher food truck locavore sartorial. Scenester squid ethical locavore. Fap mustache skateboard helvetica synth, irony iphone carles fixie letterpress jean shorts. Before they sold out keytar vegan, cliche thundercats Austin next level readymade squid stumptown carles dreamcatcher cardigan. Freegan tumblr cosby sweater, cliche synth mcsweeney's mlkshk salvia. Trust fund wes anderson sustainable blog thundercats.</p>

<p><a href="http://hipsteripsum.me/">I want Hipster Ipsum too.</a></p>
